<p>
  <h2><%= @student.first_name %> <%= @student.last_name %>:</h2>
</p>

<p>
  <strong>Student ID:</strong>
  <%= @student.student_id %>
</p>

<p>
<%= link_to 'Edit Student', edit_student_path(@student), class: 'btn btn-primary' %>
<%= link_to 'Delete', @student, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
</p>



<h3>Credits Earned:</h3>
<p>
  <table id='credit_show_table' class='cell-border table table-striped table-bordered' cellspacing='0' width='100%'>
    <thead>
      <tr>
        <th>Subject</th>
        <th>Credits</th>
      </tr>
    </thead>

    <tbody>
      <% @student.credits.each do |subject| %>
        <tr>
          <td><%= subject[:subject] %></td>
          <td><%= subject[:credits].round(3) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<h3>Badges Earned:</h3>
<p>
  <table id='badge_show_table' class='dtable cell-border table table-striped table-bordered' cellspacing='0' width='100%'>
    <thead>
      <tr>
        <th>Badge Name</th>
        <th>Version</th>
      </tr>
    </thead>

    <tbody>
      <% @student.badges.each do |badge| %>
        <tr>
          <td><%= badge.name %></td>
          <td><%= badge.version %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>




<script type="text/javascript">
$(document).ready(function(){
  $('#badge_show_table').DataTable({
    stateSave: true,
    "pageLength": 15,
    "lengthMenu": [ [10, 15, 25, 50, -1], [10, 15, 25, 50, "All"] ],
    "order": [ 0, "asc" ],
    "columnDefs": [
      { "targets": [1], "orderable": false}
    ]
  });
});
</script>
