<p id="notice"><%= notice %></p>

<h1>Badges</h1>

<table class='dtable cell-border table table-striped table-bordered' cellspacing='0' width='100%'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th class="w-25"></th>
    </tr>
  </thead>

  <tbody>
    <% @badges.each do |badge| %>
      <tr>
        <td><%= badge.name %></td>
        <td><%= badge.version %></td>
          <td><%= link_to 'Show', badge, class: "btn btn-primary btn-xs" %>
              <%= link_to 'Edit', edit_badge_path(badge), class: "btn btn-primary btn-xs" %>
              <%= link_to 'Destroy', badge, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Badge', new_badge_path %>

<script type="text/javascript">
$(document).ready(function(){
  $('.dtable').DataTable({
    "pageLength": 15,
    "lengthMenu": [ [10, 15, 25, 50, -1], [10, 15, 25, 50, "All"] ],
    "order": [[ 0, "asc" ]],
    "columnDefs": [
      { "targets": [2], "orderable": false}
    ]
  });
});
</script>
