<p>
  <h2>Badge Name: <%= @badge.name %></h2>
  <strong>Version:</strong>
  <%= @badge.version %>
</p>
<p>
  <%= pluralize(@badge.students.count, 'student has', 'students have') %> earned this badge.
</p>
<p>
<%= link_to 'Edit this Badge', edit_badge_path(@badge), class: "btn btn-primary" %>
<%= link_to 'Create a new version of this Badge', new_version_badge_path(@badge), class: "btn btn-primary" %>
<%= link_to 'Delete this Badge', @badge, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
</p>

<p>
  <strong>Standards:</strong>

  <table id= 'standards_show_table' class='dtable cell-border table table-striped table-bordered' cellspacing='0' width='100%'>
    <thead>
      <tr>
        <th>Subject</th>
        <th>Code</th>
        <th>Standard</th>
        <th>Benchmark</th>
      </tr>
    </thead>

    <tbody>
      <% @badge.standards.each do |standard| %>
        <tr>
          <td><%= standard.subject.name %></td>
          <td><%= standard.code %></td>
          <td class='small'><%= standard.standard %></td>
          <td class='small'><%= standard.benchmark %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<br>

<script type="text/javascript">
$(document).ready(function(){
  $('#standards_show_table').DataTable({
    "paging": false,
    "bInfo": false,
    "order": [[ 0, "asc" ], [1, "asc"]],
    "columnDefs": [
      { "targets": [2,3], "orderable": false},
      { "targets": [1], "orderData": [0,1]}
    ]
  });
});
</script>
