<p id="notice"><%= notice %></p>

<p>
  <h2>Badge Name: <%= @badge.name %></h2>
</p>

<p>
  <strong>Version:</strong>
  <%= @badge.version %>
</p>

<p>
  <strong>Standards:</strong>

  <table id= 'standards_show_table' class='dtable cell-border table table-striped table-bordered' cellspacing='0' width='100%'>
    <thead>
      <tr>
        <th>Subject</th>
        <th>Code</th>
        <th>Benchmark</th>
        <th>Example</th>
      </tr>
    </thead>

    <tbody>
      <% @badge.standards.each do |standard| %>
        <tr>
          <td><%= standard.subject %></td>
          <td><%= standard.code %></td>
          <td class='small'><%= standard.benchmark %></td>
          <td class='small'><%= standard.example %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<br>

<%= link_to 'Edit', edit_badge_path(@badge), class: "btn btn-primary btn-xs" %>
<%= link_to 'Destroy', @badge, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning btn-xs" %>

<script type="text/javascript">
$(document).ready(function(){
  $('#standards_show_table').DataTable({
    "paging":   false,
    "order": [[ 0, "asc" ], [1, "asc"]],
    "columnDefs": [
      { "targets": [2,3], "orderable": false},
      { "targets": [1], "orderData": [0,1]}
    ]
  });
});
</script>
