<%= form_with(model: standard, local: true) do |form| %>
  <% if standard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(standard.errors.count, "error") %> prohibited this standard from being saved:</h2>

      <ul>
      <% standard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject, id: :standard_subject %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :standard_code %>
  </div>

  <div class="field">
    <%= form.label :benchmark %>
    <%= form.text_area :benchmark, id: :standard_benchmark %>
  </div>

  <div class="field">
    <%= form.label :example %>
    <%= form.text_area :example, id: :standard_example %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
