<p id="notice"><%= notice %></p>

<h1>Standards</h1>

<table class='dtable cell-border table table-striped table-bordered' cellspacing='0' width='100%'>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Code</th>
      <th>Benchmark</th>
      <th>Example</th>
      <th class="w-25"></th>
    </tr>
  </thead>

  <tbody>
    <% @standards.each do |standard| %>
      <tr>
        <td><%= standard.subject %></td>
        <td><%= standard.code %></td>
        <td><%= standard.benchmark %></td>
        <td><%= standard.example %></td>
        <td><%= link_to 'Show', standard, class: "btn btn-primary btn-xs" %>
            <%= link_to 'Edit', edit_standard_path(standard), class: "btn btn-primary btn-xs" %>
            <%= link_to 'Destroy', standard, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning btn-xs"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Standard', new_standard_path, class: "glyphicon glyphicon-plus" %>

<script type="text/javascript">
$(document).ready(function(){
  $('.dtable').DataTable({
    "pageLength": 15,
    "lengthMenu": [ [10, 15, 25, 50, -1], [10, 15, 25, 50, "All"] ],
    "order": [[ 0, "asc" ], [1, "asc"]],
    "columnDefs": [
      { "targets": [2,3,4], "orderable": false},
      { "targets": [1], "orderData": [0,1]}
    ]
  });
});
</script>
