<h1>Standards</h1>

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <% first = Subject.order(:name).first.id %>
    <% Subject.order(:name).each do |subject| %>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if subject.id == first %>" data-toggle="tab" href="#<%= "tab-#{subject.id}" %>"><%= subject.name %></a>
    </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% first = Subject.order(:name).first.id %>
    <% Subject.order(:name).each do |subject| %>
      <div class="tab-pane container <%= subject.id == first ? 'active' : 'fade' %>" id="<%= "tab-#{subject.id}" %>">
      <table class='dtable cell-border table table-bordered' cellspacing='0' width='100%'>
        <thead>
          <tr>
            <th>Subject</th>
            <th>Code</th>
            <th>Standard</th>
            <th>Benchmark</th>
          </tr>
        </thead>

        <tbody>
          <% subject.standards.each do |standard| %>
            <tr>
              <td><%= standard.subject.name %></td>
              <td><%= standard.code %></td>
              <td class="small"><%= standard.standard %></td>
              <td class="small"><%= standard.benchmark %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    <% end %>
  </div>
<br>
