<p>
  <strong>Subject:</strong>
  <%= @standard.subject.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @standard.code %>
</p>

<p>
  <strong>Example:</strong>
  <%= @standard.standard %>
</p>

<p>
  <strong>Benchmark:</strong>
  <%= @standard.benchmark %>
</p>

<%= link_to 'Delete', @standard, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning"  %></td>
