<p>
  <strong>Subject:</strong>
  <%= @standard.subject.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @standard.code %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @standard.standard %>
</p>

<p>
  <strong>Benchmark:</strong>
  <%= @standard.benchmark %>
</p>

<h3>This standard can be attained by earning any of these badges:</h3>
<p>
      <% @standard.badges.each do |badge| %>
          <p><%= link_to "#{badge.name} (v#{badge.version})", badge %>
      <% end %>
</p>

<%= link_to 'Delete Standard', @standard, method: :delete, data: { confirm: 'Are you sure you want to delete this standard?' }, class: "btn btn-warning"  %></td>
