<!DOCTYPE html>
<html>
  <head>
    <title>Credit Cracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-default">
      <%= image_tag "polytech_avatar.png", style: "padding: 16px", class: "navbar-brand" %>
      <%= link_to('Polytech Credit Cracker', root_path, class: "navbar-brand") %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to('Students', students_path, class: "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to('Badges', badges_path, class: "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to('Standards', standards_path, class: "nav-link") %>
          </li>
        </ul>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <% unless controller_name == "sessions" %>
              <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "nav-link") %>
              <% else %>
                <%= link_to('Login', new_user_session_path, class: "nav-link")  %>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>

</html>
